ansible-core>=2.11.3,<2.13.0,!=2.12.0,!=2.12.1,!=2.12.2,!=2.12.3,!=2.12.4,!=2.12.5
ansible-lint<6.0.0
asgiref
black==22.8.0
certifi
cffi
chardet
click
colorama
cryptography
cvprac
docker
et-xmlfile==1.1.0
flake8
galaxy-importer>=0.3.1
identify>=1.4.20
idna
importlib-resources
isort==5.10.1
jsonschema
Jinja2
markdown-it-py==2.2.0
MarkupSafe
material
md-toc
mdurl==0.1.2
mdx_truly_sane_lists
mkdocs
mkdocs-git-revision-date-plugin
mkdocs-glightbox
mkdocs-include-dir-to-nav
mkdocs-material-extensions
mkdocs-pymdownx-material-extras
molecule>=3.2.0,<3.5.0
molecule-docker>=0.2.4
natsort
netaddr
netmiko
numpy==1.24.2
openpyxl
packaging
pandas==2.0.0
paramiko
pre-commit>=2.9.2
pre-commit-hooks>=3.3.0
psutil
pycodestyle
pycparser
pydantic==1.10.7
pylint>=2.4.4
pynetbox
pyparsing
python-dateutil==2.8.2
pytz==2023.3
Pygments==2.15.1
PyYAML==6.0
requests
rich==13.3.4
six==1.16.0
sqlparse
treelib
twine
typing_extensions==4.5.0
tzdata==2023.3
urllib3
yamllint
zipp
